.avatar {
  display: flex;
  border-radius: var(--radius-sm);
  &.small {
    width: 32px;
    height: 32px;
  }
  &.medium {
    width: 48px;
    height: 48px;
  }
}

.image {
  border-radius: var(--radius-sm);
}